.col-xs-offset-1.col-sm-10.col-md-10
  %table.table
    %thead
      %tr
        %th
        %th Title
        %th Owner
    %h3.center Results
    %tbody
      - @document_results.each do |document|
        %tr
          %td= image_tag  "document.png", width: '32'
          %td= document.title
          %td= document.user.email
          %td= link_to 'View', document, class: :"btn btn-sm btn-default"
          %td= link_to 'Edit',edit_document_path(document), class: :"btn btn-sm btn-default" if can? :update, document
          %td= link_to 'Delete', document, method: :delete, data: { confirm: 'Are you sure?' }, class: :"btn btn-sm btn-danger" if can? :destroy, document
  .ol-sm-offset-3.col-md-offset-3
    = will_paginate @document_results
