<div class="container-fluid">
  <div class="row">
    <% if @document_results.present? %>
    <% if params[:search] != nil%>
    <p class="result"> Found <%= @occurences %> occurences of "<i><%= params[:search] %></i>" </p>
    <%= render :partial => 'search_results' %>
    <%else%>
    <div class="col-xs-offset-1 col-sm-4 col-md-4"><table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Owner</th>
        </tr>
      </thead>
      <h3 class="center">Other Documents</h3>
      <tbody>
        <% @other_documents.each do |document| %>
        <tr>
          <td><%= document.title %></td>
          <td><%= document.user.email %></td>
          <td><%= link_to 'View ', document %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="col-sm-offset-3 col-md-offset-3">
      <%= will_paginate @document_results %>
    </div>
  </div>
  <div class="col-sm-5 col-md-5 col-xs-offset-1"><table class="table">
    <thead>
      <tr>
        <th>Title</th>
      </tr>
    </thead>
    <h3 class="center">My Documents</h3>
    <tbody>
      <% @user_documents.each do |document| %>
      <tr>
        <td><%= document.title %></td>
        <td><%= link_to 'View', document %></td>
        <td><%= link_to 'Edit', edit_document_path(document) if can? :update, document %></td>
        <td><%= link_to 'Delete', document, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, document %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="ol-sm-offset-3 col-md-offset-3">
    <%= will_paginate @user_documents %>
  </div>
</div>
</div>
</div>
<br>
<%end%>
<% else %>
<p class="result">There are no documents containing the term(s) <%= params[:search] %>.</p>
<% end %>