
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6"><table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Content</th>
          <th>Owner</th>
        </tr>
      </thead>
      <h3 class="center">All Documents</h3>
      <tbody>
        <% @documents.each do |document| %>
        <tr>
          <td><%= document.title %></td>
          <td><%= document.content[0..10] +"..." %></td>
          <td><%= document.user.email %></td>
          <td><%= link_to 'Show', document %></td>
        </tr>
        <% end %>
      </tbody>
    </table></div>
    <div class="col-xs-6"><table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Content</th>
          <th>Owner</th>
        </tr>
      </thead>
      <h3 class="center">My Documents</h3>
      <tbody>
        <% @user_documents.each do |document| %>
        <tr>
          <td><%= document.title %></td>
          <td><%= document.content[0..10] +"..." %></td>
          <td><%= document.user.email %></td>
          <td><%= link_to 'Show', document %></td>
          <td><%= link_to 'Edit', edit_document_path(document) if can? :update, document %></td>
          <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, document %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
<br>
