.container-fluid
  .row
    - if @document_results.present?
      - if params[:search] != nil
        %p.result
          Found #{@occurences} occurences of "
          %i>= params[:search]
          "
        = render :partial => 'search_results'
      - else
        .col-sm-6.col-md-6
          .panel.panel-default
            .panel-heading.center Other Documents
            %table.table
              %tbody
                - @other_documents.each do |document|
                  %tr
                    %td= image_tag  "document.png", width: '32'
                    %td= document.title
                    %td= document.user.email
                    %td= link_to 'View ', document, class: :"btn btn-sm btn-default"
            .col-sm-offset-3.col-md-offset-3
              = will_paginate @other_documents, param_name: :others_page
        .col-sm-6.col-md-6
          .panel.panel-default
            .panel-heading.center My Documents
            %table.table
              %tbody
                - @user_documents.each do |document|
                  %tr
                    %td= image_tag  "document.png", width: '32'
                    %td= document.title
                    %td= link_to 'View', document, class: :"btn btn-sm btn-default"
                    %td= link_to 'Edit',edit_document_path(document), class: :"btn btn-sm btn-default" if can? :update, document
                    %td= link_to 'Delete', document, method: :delete, data: { confirm: 'Are you sure?' }, class: :"btn btn-sm btn-danger" if can? :destroy, document

            .col-sm-offset-3.col-md-offset-3.col-xs-offset-3
              = will_paginate @user_documents, param_name: :user_page
    - else
      %p.result
        There are no documents containing the term(s) #{params[:search]}.
