<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class='row mt'>
        <div class='col-sm-12'>
          <h2><%= "Diff between Version #{@version.id} and Current Version" %></h2>
          <style><%= Diffy::CSS %></style>
          <div class='well diff'>
            <p>
              <strong>Title:</strong>
              <%= diff(@version.reify.title, @document.title) %>
            </p>
            <p>
              <strong>Content:</strong>
              <%= diff(@version.reify.content, @document.content) %>
            </p>
          </div>
        </div>
      </div>
      <div class='fr'>
        <%= link_to 'Back', edit_document_path(@document), class: 'btn btn-default' %>
        <%= link_to 'Undo', rollback_document_version_path(@document, @version), class: 'btn btn-primary', method: 'PATCH' %>
      </div>
      </style>
    </div>
  </div>
</div>
</div>
</div>