<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a> <%= link_to "MANI-DOC", root_path,class:"navbar-brand" %></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Dashboard', root_path, class:"navbar-link"%></li>
          <li><%= link_to 'New Document', new_document_path, class:"navbar-link"%></li>
          <li>
            <%= form_tag documents_path, :method => :get, :class => "form-horizontal" do %>
            <%= text_field_tag :search, params[:search], class: "form-control search_margin search_field", required: "true" %>
          </li>
          <li>
            <%= submit_tag "Search", :name => nil, class: "btn btn-primary search_margin search_button" %>
            
          </li>
          <li class="clear_margin">
           <%= link_to "Clear" ,class: "clear_search"%>
           <% end %>
          </li>
        </ul>
        <p class="navbar-text pull-right">
          <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </p>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>