!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DocMatrix
    = favicon_link_tag 'favicon.png'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render(:partial => 'layouts/header') unless  (params[:action] == 'index')
    = render(:partial => 'layouts/index_header') if (params[:action] == 'index')
    = flash_messages
    = yield
    = render 'layouts/footer'
